* {
  box-sizing: border-box;
}

header {
  background-color: red;
  color: white;
  padding: 10px;
}

header a {
  display: block;
  text-align: right;
}

nav {
  background-color: gray;
  text-align: right;
  padding: 10px;
}

aside {
  float: left;
  width: 30%;
}

article {
  float: left;
  width: 70%;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: gray;
}

h1 {
  font-size: 40px
}

h2 {
  font-size: 20px;
}

a:link {
  color: white;
  text-decoration: none;
}
