* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #AA0000;
  color: white;
  padding: 10px;
}

header a {
  display: block;
  text-align: right;
}

nav {
  background-color: #333333;
  text-align: right;
  padding: 10px;
}

nav a {
  padding-left: 20px;
  padding-right: 20px;
}

section {
  padding: 30px;
}

aside {
  float: left;
  width: 30%;
  padding-left: 100px;
  text-align: left;
}

article {
  float: left;
  width: 70%;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #333333;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 40px
}

aside h2 {
  font-size: 20px;
  padding: 0 10 10 0;
}

article h2 {
  font-size: 20px;
  padding: 20 10 10 30;
}

a:link {
  color: white;
  text-decoration: underline;
}

article img {
  width: 1000px;
}

article p {
  padding: 7 7 7 30;
}

aside img {
  width: 300px;
  padding-bottom: 50px;
}
